.floatingActionLabel{
    -fx-background-color: linear-gradient(#ff8b00, #ff8b00);
    -fx-background-radius: 50px;
    -fx-border-color: #ffffff;
    -fx-border-width: 5px;
    -fx-border-radius: 50px;
    -fx-text-fill: WHITE;
}
.fontSize{
     -fx-font-size: 23;
}